<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>{{studentdata.firstname}}'s details</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <ul>
            <li> {{studentdata.firstname}} </li>
            <li> {{studentdata.lastname}} </li>
            <li> {{studentdata.age}} </li>
            <li> {{studentdata.email}} </li>
            <li> {{studentdata.phone}} </li>
        </ul>
          
      </div>
    </div>
    <footer><div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.facebook.com/iyed.gabsu.5/" title="W3.CSS" target="_blank" class="w3-hover-opacity">Iyed Gabsi</a></p></div></footer>